body {
  font-family: Arial, sans-serif;
  background: #e0e0e3;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-container, .todo-container {
  background: rgb(242, 242, 245);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(33, 202, 21, 0.1);
  width: 350px;
  text-align: center;
}

.login-container input, .todo-input input {
  width: 70%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #007bff;
  color: white;
}

button:hover {
  background: #0056b3;
}

.todo-input {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  background: #d5dce3;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checked span {
  text-decoration: line-through;
  color: gray;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  padding: 6px 12px;
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #c0392b;
}
